header {
    width: 75em;
    /*background-color: #3399ff;*/
    background-color: dodgerblue;
    padding: 2em;
    border-radius: 0 0 15px 15px;
    text-align: inherit;
}

#summInfo {
    float: left;
}

#profileIcon {
    display: inline-block;
}

#profileInfo {
    margin-left: -40px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#ign {
    margin-top: 5px;
    font-size: 1.1em;
}

#fwotd {
    display: inline;
}

#renew-btn {
    color: black;
    margin-top: 3px;
    position: relative;
    float: left;
    margin-left: 110px;
}

#summName, #region, #summSearch {
    padding-top: 0.3em;
    height: 2em;
}

#summSearch {
    padding-top: .2em;
}

.granted {
    /*box-shadow: 0 0 30px #00a9d3;*/
    /*color: deepskyblue;*/
    box-shadow: 0 0 30px deepskyblue;
}

.notGranted {
    filter: grayscale(100%);
    box-shadow: 0 0 5px #fff;
}

.portrait-list {
    margin-top: 2em;
    text-align: center;
}

.portrait {
    height: 100px;
    width: 100px;
}

.hoverWrap {
    margin: 0.5em;
    display: inline-block;
    position: relative;
    height: 100px;
    text-align: center;
}

.champName {
    bottom: 6px;
    opacity: 0.5;
    color: paleturquoise;
    text-shadow: 2px 2px black;
}

.championPoints {
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: medium;
    opacity: 0;
}

.championPoints, .champName {
    /*Center text*/
    position: absolute;
    height: 1.2em;
    width: 100%;
    left: 0;
    margin-top: -0.5em;
    text-align: center;

    /*Text non-highlightable
    * Prevents touch screen from accidentally highlighting text
    */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    /*Opacity animation*/
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.hoverWrap:hover .championPoints, .hoverWrap:hover .champName {
    opacity: 1;
}

@media only screen and (max-width: 75em) {
    header {
        width: 100%;
    }

}

@media only screen and (max-width: 770px) {
    #profileInfo {
        margin-left: 1em;
    }
}

/**
bootstrap modification
 */
.dl-horizontal {
    margin-bottom: 0;
}

dt {
    color: gold;
}