body {
    background-color: white;
}

header {
    background-color: black;
    width: 100vw;
    color: #d3ceae;
    padding: 1em;
}

section {
    margin: 0 auto;
}

#header {
    background-color: black;
    width: 100vw;
}

#chest-img {
    max-width: 940px;
}

#input-field {
    padding: 2em;
}

#about {
    padding: 1em;
    color: dimgrey;
}

@media only screen and (max-width: 940px) {
    #chest-img {
        max-width: 100%;
    }
}