/* For small width */
header {
    color: #d3ceae;
}

section {
    padding: 1em;
    margin: 0 auto;

    /* vertically center */
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

#chest-img {
    max-width: 940px;
}

#input-field {

    /*position: relative;*/
    /*display: inline-block;*/
    /*margin-bottom: 1em;*/
}

#about {
    color: cornflowerblue;
}

@media only screen and (max-width: 940px) {
    #chest-img {
        max-width: 100%;
    }
}